@charset "UTF-8";
@import "theme";

// Dimensions
$memo-tile-width: 150px !default;
$memo-tile-height: 150px !default;
$memo-tile-margin: 10px !default;
$memo-tile-border-radius: 0 !default;

// Style
$memo-tile-background-color: $green-light !default;
$memo-tile-editing-background-color: $white-transparent !default;
$memo-tile-editing-border-color: $gray-light !default;
$memo-tile-editing-opacity: 0.3 !default;

// Memo delete button
$memo-delete-button-color: $red-light !default;
$memo-delete-button-active-background-color: $white !default;
$memo-delete-button-hover-border-color: $gray-light !default;

// New memos button
$memo-new-button-color: $white !default;
$memo-new-button-active-background: $black !default;
$memo-new-button-focus-border: $gray-light !default;

// Body style
$memo-body-max-lines: 6 !default;

// Forms
$memo-input-color: $gray-dark !default;
$memo-input-hover-color: $gray-light !default;

// Memos sort options
$memos-sort-options-background: $red-light !default;
$memos-sort-options-color: $white !default;
