@charset "UTF-8";
@import "theme";

// Dimensions
$memo-tile-width: 150px !default;
$memo-tile-height: 150px !default;
$memo-tile-margin: 10px !default;
$memo-tile-border-radius: 0 !default;

// Style
$memo-tile-background-color: #96ceb4 !default;
$memo-tile-editing-background-color: #ffffff !default;

// Memo delete button
$memo-delete-button-color: #ff6f69 !default;
$memo-delete-button-active-background: #ffffff !default;

// New memo button
$memo-new-button-color: #ffffff !default;
$memo-new-button-active-background: #000000 !default;

// Body style
$memo-body-max-lines: 5 !default;

// Forms
$memo-input-color: $gray-light !default;