@mixin app-layout ($base-class-name) {

  .#{$base-class-name} {

    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6em auto 3em;

    > * {
      grid-column: 1 / -1;
    }
  }
}
