@mixin app-layout($grid-template-columns, $grid-template-rows) {

  min-height: 100%;
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;

  > * {
    grid-column: 1 / -1;
  }
}
