@mixin button-background($icon) {
  background: $icon no-repeat center center;
  background-size: 60%;
}

@mixin flat-button($icon: none, $active-background-color: null) {

  box-shadow: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  outline: none;

  opacity: 0.8;
  cursor: pointer;
  font-size: 0;

  @if $icon != none {
    @include button-background($icon);
  }
  @else {
    background: none;
  }

  &:active,
  &:focus,
  &:hover {

    outline: none;
    opacity: 1;

    @if $active-background-color != null {
      background-color: $active-background-color;
    }
  }
}
