@import "../../style/base/config";
@import "../../style/layout/clamp-paragraph";

.notification-message {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 3em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  background-color: $notification-box-background;

  &> p {
    font-size: $font-size-small;
    text-align: center;
    @include clamp-paragraph($notification-box-max-lines, $notification-box-background)
  }
}
