.notifications {
  display: flex;
  width: 25%;
  min-width: 10em;
  padding: 0.5em;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

@media all and (max-width: 480px) {
  .notifications {

    width: 100%;

    > :not(:first-child) {
      display: none;
    }
  }
}
