@import "../style/base/config";

.memos {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  margin: $memo-tile-margin 0;

  > * {
    flex: 0 0 $memo-tile-height;
  }
}
