@import "../style/base/config";
@import "../style/layout/icon";
@import "../style/layout/flat-button";

.new-memo-button {
  width: 3rem;
  height: 3rem;
  padding: 1rem;

  @include flat-button( icon('new', $memo-new-button-color ), $memo-new-button-active-background );
}
