@import "../../style/base/config";

.memo-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;

  height: 20%;
  background-color: $white-transparent-light;
}
