@import "../../style/base/config";
@import "../../style/layout/flat-input";

.memo-title {

  display: flex;
  box-sizing: border-box;
  border: 3px solid transparent;
  overflow: hidden;
  cursor: pointer;
  align-items: center;
  padding: 0 5px;

  &.editing {
    background-color: $memo-tile-editing-background-color;
    border-color: $memo-tile-editing-border-color;
    cursor: text;
  }

  &:hover {
    color: $memo-input-hover-color;
  }
}
