@import "../../style/base/config";

.memo-bar {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-content: center;

  height: 20%;
  background-color: $white-transparent-light;
}

.memo-bar > .memo-title,
.memo-bar > .memo-title-input {
  flex: 10;
}
