@import "style/base/config";
@import "style/layout/app-layout-mixin";

.App {
  text-align: center;
}

@include app-layout(App);

.App header {
  background-color: $contrast-background-color;
  color: $contrast-font-color;
}

.App h1 {
  font-size: 1.6em;
}

.App footer {
  background-color: $contrast-background-color;
  color: $contrast-font-color;
}
